header {
  border-style: solid;
  border-color: black;
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  margin-left: 27px;
}

article {
  border-style: solid;
  border-color: black;
  margin: 2%;
  flex: 400px;
}

img {
  width: 100%;
}

footer {
  border-style: solid;
  border-color: black;
  text-align: center;
}

article:nth-child(2) {
  color: lime;
}
