header {
  border-style: solid;
  border-color: black;
  text-align: center;
}

section {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

h2 {
}

article {
  border-style: solid;
  border-color: black;
  margin: 5%;
}

img {
  max-width: 445px;
}

footer {
  border-style: solid;
  border-color: black;
  text-align: center;
}
