header {
  border-style: solid;
  border-color: black;
  text-align: center;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h2 {
  margin-left: 2.5%;
}

article {
  border-style: solid;
  border-color: black;
  margin: 5%;
  margin-top: 0%;
}

p {
  margin: 3%;
}

footer {
  border-style: solid;
  border-color: black;
  text-align: center;
}
